@import 'bootstrap/dist/css/bootstrap.min.css';

.card {
   --bs-card-border-width: 0px;
   padding: 1rem;
   font-family: ui-monospace;
}
.Card-container{
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}


.img-insta{
    width: 100% !important;
}

.img_container {
    position: relative;
    text-align: center;
}
.img_button, .img_button:active {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20rem;
}
.btn {
    text-decoration: none;
    color: #e990c5;
    border: 2px solid #e990c5;
    border-radius: 5px;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 5px 10px;
    background: #ffffff
}
.imgCover{
    object-fit: cover;
}
.imgCard{
    width: 60% !important;
}
.imgCard:hover{
    transform: scale(1.10); 
}
.cover{
    object-fit: cover;
}
.card{
align-items: center;
}
.h1{
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}