@import 'bootstrap/dist/css/bootstrap.min.css';

img, svg {
    vertical-align: middle;
    width: 130% !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    width: auto;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.menu-style {
    justify-content: space-between;
    padding: 1rem;
}

.card {
    --bs-card-border-width: 0px;
    padding: 4rem;
    font-family: ui-monospace;
}
/* prueba button*/
.button {
  --border: 2px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #e1b181; /* the color */
  
  font-size: 17px;
  padding: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
  font-family: emoji;
}

.button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}

.button:hover,button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

.button:active {
  --s: #0005;
  transition: none;
}
.btn-primary {
  --bs-btn-hover-bg: none;
  letter-spacing: 4px;
}

/* prueba button desplegable*/
.navbar-expand-lg .navbar-nav .nav-link {
  --border: 2px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #e1b181; /* the color */
  
  font-size: 17px;
  padding: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
  text-transform: uppercase;
  font-family: emoji;
  letter-spacing: 3px;
}

.navbar-expand-lg .navbar-nav .nav-link:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

.button:active {
  --s: #0005;
  transition: none;
}
.btn-primary {
  --bs-btn-hover-bg: none;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #e1b181
}