body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  padding: 1rem;
  margin: 0;
}